## ignore the dependency modules directory
node_modules

## ignore the file that is automatically regenerated
conf/*.crt
conf/*.csr
conf/*.key

## ignore the setting files
.DS_Store

## dust
npm-debug.log

## ignore gh-pages dir
gh-pages

